:root {
  --main-color: #1b1b1b;
  --accent-color: #fa7b62;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
/* ===== */
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto";
  color: var(--main-color);
}
a {
  color: var(--main-color);
}
a:hover {
  color: var(--accent-color);
}
.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}
/*=====nav menu======*/
nav {
  padding: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  text-transform: uppercase;
}
nav a {
  color: var(--main-color);
}
/*=====column=====*/
.column-right {
  min-width: 30%;
  margin-left: 32px;
}
/*=====header=====*/
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 32px;
}
figure {
  text-align: center;
  vertical-align: middle;
}
figure img {
  border-radius: 50%;
}
h2 {
  color: var(--accent-color);
}
address {
  margin-top: 16px;
  font-style: normal;
}
address img {
  vertical-align: middle;
  margin-right: 5px;
}
address a {
  color: var(--main-color);
}
.blurry-text {
  filter: blur(4px);
}
/*=====main=====*/
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 32px;
}
section {
  margin-bottom: 32px;
}
h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #1b1b1b80;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
#languages li,
#education li {
  margin-bottom: 10px;
}
.language-level,
.education-time {
  font-size: 0.9em;
  color: var(--accent-color);
}
/*======footer======*/
footer {
  padding: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 0.8em;
}
footer a {
  filter: opacity(0.5);
}
footer a:hover {
  filter: none;
}
/*======adaptive======*/
@media only screen and (max-width: 599px) {
  header,
  main {
    flex-direction: column;
  }
  .column-right {
    margin-left: 0;
  }
  .header-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    /*здесь будет бургер меню (а может и не будет)*/
    display: none;
  }
}
